:root {
    --accent-light: #bfe0d4;
    --accent: #749b8c;
    --accent-strong: #5a9981;
	--accent-dark: #7d3140;
}

html {
	cursor: url("cursor.png"), auto;
}

body {
	background-color: #000000;
	background-image: url("bg.jpg");
	background-attachment: scroll;
	color: #ffffff;
	font: 15px sans-serif;
    font-size: 15px;
    font-family: kaiti;
}

html,body {
	padding: 0px;
	margin: 0px;
	min-height: 100vh;
	min-width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

a {
  color: #f7ff01;
  font-style: italic;
}

.centertext {
	text-align: center;
}

.collapse {
	margin: 3px;
	color: white;
	text-align: left;
	padding-left: 3px;
	font-size: 15px;
	background: linear-gradient(90deg, var(--accent-dark), #000);
}

.collapsedetails {
  border-image: linear-gradient(90deg, var(--accent-dark), #000) 1;
  border-radius: 0px;
  border-width: 3px;
  border-style: solid;
  margin: 3px;
}

.status {
	color: var(--accent-light);
}

.soycat {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 9999;
	margin: 0;
}

.img {
	max-width: 100%;
}

.banner {
	text-align: center;
	font-size: 32px;
	font-family: pixeloperator;
	padding: 10px;
}

.container {
  padding: 0 1em 1em;
  box-sizing: border-box;
  margin: auto;
  width: 800px;
}

.header{
	box-sizing: border-box;
	padding: 0 15px 10px;
	width: 800px;
	margin: auto;
}

.columns {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 292px auto;
  width: 100%;
}

.box, .blog {
  border: #ffffff 3px outset;
  margin: 10px 0;
  padding: 3px;
  overflow-y: scroll;
  background-color: black;
}

.blog {
	max-height: 400px;
}

.atabook {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 460px;
	width: 100%;
	box-sizing: border-box;
}

.flexbox {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

h1 {
  color: white;
  margin-top: -3px;
  margin-left: -3px;
  margin-right: -3px;
  text-align: left;
  padding-left: 3px;
  font-size: 15px;
  background: url("hdrnew.png"), linear-gradient(90deg, var(--accent), #dddddd);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

h2 {
  color: white;
  margin-top: -3px;
  margin-left: -3px;
  margin-right: -3px;
  text-align: left;
  padding-left: 3px;
  font-size: 15px;
  background: linear-gradient(90deg, var(--accent-dark), #000);
}

p {
  margin: 3px;
}

table {
  width: 100%;
}

.wave span {
  transform: translateY(-5px);
  display: table-cell;
  animation: wave 1.5s infinite ease-in-out;
  animation-delay: 0s;
  position: relative;
}

@keyframes wave {
	0%{transform:translateY(-5px);}
	50%{transform:translateY(5px);}
	100%{transform:translateY(-5px);}
}

.wave span:nth-child(1) {
	animation-delay:0s;
}
.wave span:nth-child(2) {
	animation-delay:0.05s;
}
.wave span:nth-child(3) {
	animation-delay:0.1s;
}
.wave span:nth-child(4) {
	animation-delay:0.15s;
}
.wave span:nth-child(5) {
	animation-delay:0.2s;
}
.wave span:nth-child(6) {
	animation-delay:0.25s;
}
.wave span:nth-child(7) {
	animation-delay:0.3s;
}


@media (max-width: 865px) {
	.container, .navbar, .footer, .header {width: 100%;}
	.columns {grid-template-columns: 100%;}
	.box {margin: 1em 0;}
	.box:last-child {margin: 0;};
}

@font-face {
  font-family: pixeloperator;
  src: url("fonts/PixelOperator-Bold.ttf");
}

::-moz-selection {
    background: var(--accent-strong);
    color: #eeeeee;
    text-shadow: none;
}

::selection {
    background: var(--accent-strong);
    color: #eeeeee;
    text-shadow: none;
}